<div class="popUp popUpHide" id="popUp">
    <div class="popClose" onclick="ClosePopup();">
        <div>X</div>
    </div>
    <div id="popMsg">Loading</div>
</div>
<header>
    <div class="head-title"><a href="/">Share a Workspace</a></div>
    <div class="userNameDisplay">
        <div>Hello <span id="displayUserName"></span></div>
        <div><a href="/">Log Out</a></div>
    </div>
</header>
<main>
    <div class="splash"></div>
    <div class="content">
        <span id="availBack"><a href="/coworkerMenu">Back to Main Menu</a></span>
        <h1>Available Workspaces</h1>
        <div class="flexCon">
            <form id="filterForm">
                <div class="formLine">
                    <div>
                        <label for="filterBy">Filter By: </label>
                        <select name="filterBy" id="filterBy" onchange="InsertFilterInput();">
                            <option value="none" selected>none...</option>
                            <option value="price">Price</option>
                            <option value="address">Address</option>
                            <option value="neighbor">Neighborhood</option>
                            <option value="type">Type</option>
                            <option value="occ">Occupancy</option>
                            <option value="sqFeet">Sq Feet</option>
                            <option value="term">Term</option>
                            <option value="availDate">Available Date</option>
                            <option value="parking">Parking Garage</option>
                            <option value="smoke">Smoking</option>
                            <option value="transit">Transit</option>
                        </select>
                    </div>
                </div>
                <div class="formLine">
                    <div id="filterTermInput">
                        <label for="filterTerm">Filter Term: </label>
                        <input type="text" id="filterTerm" disabled />
                    </div>
                </div>
                <div class="formLine">
                    <button type="submit">Apply Filter</button>
                </div>
            </form>
            <div id="sortForm">
                <div class="formLine">
                    <div>
                        <label for="sortBy">Sort By: </label>
                        <select name="sortBy" id="sortBy">
                            <option value="none" selected>none...</option>
                            <option value="price">Price</option>
                            <option value="address">Address</option>
                            <option value="neighbor">Neighborhood</option>
                            <option value="type">Type</option>
                            <option value="occ">Occupancy</option>
                            <option value="sqFeet">Sq Feet</option>
                            <option value="term">Term</option>
                            <option value="availDate">Available Date</option>
                            <option value="parking">Parking Garage</option>
                            <option value="smoke">Smoking</option>
                            <option value="transit">Transit</option>
                        </select>
                    </div>
                </div>
                <div class="formSubmitLine">
                    <button class="btn" onclick="Sort('asc');">Sort Ascending</button>
                    <button class="btn" onclick="Sort('desc');">Sort Descending</button>
                </div>
            </div>
        </div>
        <div class="cardsContainer" id="availWorkCards"></div>
        <div id="noWorkspaces"></div>
    </div>
</main>