<header>
    <div class="head-title"><a href="/">Share a Workspace</a></div>
    <ul class="navLinks">
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Log In</a></li>
    </ul>
</header>
<main>
    <div class="splash"></div>
    <div class="content">

        <h3>Get in touch!</h3>
        <a href="mailto:info@share-space.ca">info@share-space.ca</a>

    </div>
</main>