<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Title -->
    <title>{{title}} - Share a Workspace</title>

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/styles.css" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
</head>

<body>

    {{{body}}}

    <footer>
        <div class="foot-left">
            <div class="contact"><a href="/contact">Contact Us</a></div>
            <div class="legal"><a href="/legal">Legal</a></div>
        </div>
        <div class="foot-right">
            <ul>
                <li><a href="https://twitter.com/">Twitter</a></li>
                <li><a href="https://www.instagram.com/">Instagram</a></li>
                <li><a href="https://www.facebook.com/">Facebook</a></li>
            </ul>
        </div>
    </footer>

    {{{scripts}}}

</body>

</html>