<header>
    <div class="head-title"><a href="/">Share a Workspace</a></div>
    <div class="userNameDisplay">
        <div>Hello <span id="displayUserName"></span></div>
        <div><a href="/">Log Out</a></div>
    </div>
</header>
<main>
    <div class="splash"></div>
    <div class="content">

        <h1>Main Menu</h1>
        <div class="menuContainer">
            <div class="btnLine">
                <a href="/addProp">Add a Property</a>
            </div>
            <div class="btnLine">
                <a href="/showProp">My Properties and Workspaces</a>
            </div>
        </div>

    </div>
</main>