<header>
    <div class="head-title"><a href="/">Share a Workspace</a></div>
    <div class="userNameDisplay">
        <div>Hello <span id="displayUserName"></span></div>
        <div><a href="/">Log Out</a></div>
    </div>
</header>
<main>
    <div class="splash"></div>
    <div class="content">
        <a href="/showProp">Back to Properties</a>
        <h1>Workspaces for <span id="titleProp"></span></h1>
        <div class="workspacesContainer">
            <table id="workspacesTable">
                <tbody>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Type</th>
                        <th>Occupancy</th>
                        <th>Smoking</th>
                        <th>Date Available</th>
                        <th>Lease Term</th>
                        <th>Price</th>
                        <th>Listed</th>
                    </tr>
                </tbody>
            </table>
            <div class="formLine" id="noWorkspaces"></div>
            <div class="formLine">
                <a href="/addWork">Add New Workspace</a>
            </div>
        </div>
    </div>
</main>