* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b5ffdf;
  font-family: "Open Sans", sans-serif;
}

header,
footer {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  background-color: #57b38b;
}

h1 {
  color: #66281e;
  margin: 0.5em 0;
}

.head-title {
  color: white;
  width: 70%;
  text-align: center;
  font-size: 2.5em;
  margin: auto 0;
}

.head-title a {
  color: white;
  text-decoration: none;
}

.navLinks {
  width: 30%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: auto 0;
}

a {
  color: #66281e;
  /* text-decoration: none; */
}

.navLinks a {
  color: #66281e;
  padding: 6px 12px;
  font-size: 1.2em;
  text-decoration: none;
  background-color: rgba(0, 0, 255, 0.1);
  border-radius: 10px;
}
.activeLink {
  border: solid 4px #3a8062;
}
.navLinks a:hover {
  background-color: rgba(0, 255, 0, 0.2);
}

/*
  
  Background "Splash" Image:
  by Shridhar Gupta on Unsplash
  https://unsplash.com/photos/dZxQn4VEv2M
  
  */
.splash {
  background-image: url(/coworking-splash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 45vh;
}

.title {
  font-size: 2em;
  margin: 1em 0;
}

.subTitle {
  font-size: 1.5em;
  margin: 0.8em 0;
}

.heading {
  font-size: 1.2em;
  margin: 0.5em 0;
}

.list {
  padding: 0 1.8em;
}

.content {
  margin: 2em 4em;
}

.foot-left {
  margin: auto 0;
}

.foot-right {
  margin: auto 0;
}

.foot-right ul {
  list-style: none;
}

.btn {
  padding: 3px;
  background-color: #36b5e3;
  border-radius: 2px;
}

.btnRed {
  padding: 3px;
  background-color: #b33c29;
  color: white;
}

button {
  margin: 1px;
  padding: 2px;
  border: 1px solid darkslategrey;
  border-radius: 2px;
  background-color: #e6f3ff;
}

button:hover {
  cursor: pointer;
}

/* !fix this */
form {
  width: 35%;
}

.formLine {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

input {
  border: grey 1px solid;
  background-color: #e7fff5;
  box-shadow: none;
  padding: 0 2px;
}

input:disabled {
  background-color: #a8ffd9;
}

input:focus {
  outline: rgb(102, 151, 241) solid 2px;
  border: rgb(102, 151, 241) solid 1px;
  background-color: white;
}

table,
th,
td {
  border: solid 1px grey;
  border-collapse: collapse;
  overflow: hidden;
  background-color: #98ecc8;
}

th,
td {
  padding: 5px;
}

.r-text {
  text-align: right;
}

.userNameDisplay {
  margin: auto 2em;
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.userNameDisplay a {
  color: #66281e;
  padding: 6px 12px;
  font-size: 1em;
  text-decoration: none;
  background-color: rgba(0, 0, 255, 0.1);
  border-radius: 10px;
}

.userNameDisplay a:hover {
  background-color: rgba(0, 255, 0, 0.2);
}

.popUp {
  position: fixed;
  height: 100vh;
  width: 100vw;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
}
.popUp div {
  margin: auto 0;
}

.popClose {
  position: fixed;
  top: 25vh;
  right: 20vw;
  height: 40px;
  width: 40px;
  background-color: white;
  color: #000000;
  font-size: 20px;
  text-align: center;
  border-radius: 25%;
}
.popClose div {
  margin: 6px 0;
}
.popClose:hover {
  background-color: lightgrey;
  cursor: pointer;
}
#popMsg {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1em;
  border-radius: 10px;
}
.popUpHide {
  display: none;
}

.flexCon {
  display: flex;
  flex-wrap: wrap;
}

/*Cards*/

.cardsContainer {
  border-radius: 10px;
  /* background-color: rgba(0, 0, 0, 0.1); */
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  border: black solid 1px;
  border-radius: 10px;
  background-color: rgba(70, 209, 123, 0.5);
  padding: 1em;
  margin: 0.5em auto;
}

.cardGroup {
  display: block;
}

.cardLine {
  margin: 0.5em 0;
}

.bold {
  font-weight: bold;
}
